# Dependencias
node_modules/
.pnpm-store/

# Build
dist/
build/
.expo/

# Entorno
.env
.env.local

# Logs
*.log
expo-logs.txt

# OS
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo

# Prisma
apps/api/prisma/migrations/
